<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>West Bengal PDS - FPS Automation</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">

        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="img/brand/logo.png" width="160" height="43" alt="CoreUI Logo">
            <img class="navbar-brand-minimized" src="img/brand/logo-min.png" width="30" height="30" alt="CoreUI Logo">
        </a>
        <div class="navbar-collapse collapse">
            <partial name="_LoginPartial" />
        </div>
        </header>

        <partial name="_CookieConsentPartial" />

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; 2019 - West Bengal Government</p>
            </footer>
        </div>


        <!-- CoreUI and necessary plugins-->
        <script src="/vendors/jquery/js/jquery.min.js"></script>
        <script src="/vendors/popper.js/js/popper.min.js"></script>
        <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
        <script src="/vendors/pace-progress/js/pace.min.js"></script>
        <script src="/vendors/jquery/js/jquery-ui.js"></script>
        <script src="/js/site.js"></script>

        @RenderSection("Scripts", required: false)
</body>
</html>
